*{
    margin: 0;
    padding: 0;
    font-family: 'MuseoModerno', cursive;
}

p{
    font-size: 15px;
}

body::-webkit-scrollbar {
    width: 20px;
}
  
body::-webkit-scrollbar-track {
    background: rgb(14, 16, 16);
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(#3b524d, #00d4ca);
  }

a{
    text-transform: none;
    text-decoration: none;
    color: black;
}


.progress-container {
    width: 75%;
    height: 30px;
    background-color: #6c968d;
    position: relative;
}

.progress-bar {
    height: 100%;
}

.progress {
    height: 100%;
    background-color: #58eece;
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.estrelas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height:100%;
}

header{
    background-color: rgb(28 37 35);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

main{
    height: 87vh;
    color: black;
}

.logo{
    width: 11vh;
}

.caixa_texto{
    width: 50%;
    height:3vh;
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
    border:2px black solid;
}

button{
    color: black;
    background-color: rgb(32, 42, 39);
    width: fit-content;
    font-size: 15px;
    margin-left: 8px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 20px;
    border:2px black solid;
}

.entrar img{
    width: 30px;
}
.entrar a{
    display: flex;
    align-items: center;
}

#perfis_destacados,#jogos_destacados,#comentarios{
    color: black;
    margin: auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-bottom: 10px;
}

h1{
    margin: auto;
    font-size: 26px;
    width: 75%;
}

h2{
    font-size: 19px;
}

hr{
    width: 50%;
    margin:auto;
}

.perfil,.jogo{
    padding: 10px 0;
    width: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border:2px black solid;
    border-radius: 40px;
}

.perfil img{
    width: 60%;
}

.perfil h2{
    width: 100%;
    text-align: center;
}

.jogo{
    align-items: end;
    background-image: url(../images/codMW2.jpg);
    background-size: cover;
    height:250px;
    overflow: hidden;
    padding: 0;
}

footer{
    height:3vh;
    background-color: rgb(28 37 35);
}

.mostrar_mais{
    margin: auto;
    width: 75%;
    display: flex;  
}
.botao_mostrar_mais{
    margin: auto;
    display: flex;
    align-items: center;
    width: 40px;
    height:40px;
    border-radius: 30px;
}

.botao_mostrar_mais p{
    font-size: 26px;
    margin-top: -13px;
}

.imagem_perfil {
    width: 81px;
    height: 93px;
}

/*----------------------------------------------------------------Media Queries----------------------------------------------------------------*/

@media (max-width: 640px){
    .logo{
        width: 9vh;
    }
    h1{
        text-align: center;
        width: unset;
    }

    .perfil,.jogo{
        width: 100%;
        margin-bottom: 20px;
    }
    main{
        height: fit-content;
    }
}

@media (min-width: 641px) and (max-width:820px){

    .logo{
        width: 100px;
    }

    p{
        font-size: 16px;
    }

    header{
        height: 100px;
    }

    .caixa_texto{
        height: 30px;
    }

    h1{
        width: 80%;
    }

    #perfis_destacados,#jogos_destacados{
        justify-content: space-around;
        width: 85%;
    }
    .perfil,.jogo{
        width: 45%;
        margin-bottom: 20px;
    }

    main{
        height: fit-content;
    }

}

@media (min-width: 821px) and (max-width:1336px){
    .logo{
        width: 80px;
    }

    p{
        font-size: 16px;
    }

    header{
        height:80px;
    }

    .caixa_texto{
        height: 30px;
    }

    h1{
        width: 80%;
    }

    hr{
        width: 90%;
    }

    #perfis_destacados,#jogos_destacados{
        justify-content: center;
        width: 100%;
    }
    .perfil,.jogo{
        width: 25%;
        margin-bottom: 20px;
    }

    main{
        height: fit-content;
    }
}